<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/nav %>
    <section name="content">
      <div class="container" id="about">
        <div class="row">
          <h2 class="text-center">About Page</h2>
          <div class="col-xs-12">
            <p>Something about my beautiful site.</p>
          </div>

        </div>
      </div>
    </section>

    <% include ../partials/footer %>

      <% include ../partials/scripts %>
</body>

</html>
